@import "tailwindcss";

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  font-family: var(--sans);
}
body::-webkit-scrollbar {
  display: none;
}
